<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <p>First from Home controloler</p>
    <p>Всем привет</p>
    <p>
        <a href="~/Home/Employes">Сотрудники</a>
    </p>
</body>
</html>
